body {
    /*background-color: #B56576;*/
    font-family: "Lucida handwriting", monospace;
    color: #EAAC8B;
    margin: 0px;
}

/*#region mainScreen*/
#mainPage {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #B56576;
}

#mainText {
    width: 800px;
    display: block;
    margin-left: 15px;
    margin-top: 80px;
}

#mePic {
    width: 500px;
    height: 650px;
    margin-left: 50px;
    margin-top: 80px;
}

#Name {
    font-size: 10em;
}

#HiIam {
    margin-bottom: 0px;
    margin-left: 25px;
}

#student {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 25px;
}

#software {
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 25px;
}

/*#endregion main*/

/*#region aboutMe*/
#aboutMe {
    width: 1533px;
    height: 740px;
    background-color: #6D597A;
    position: relative;
    display: flex;
}

#bigMeBox {
    width: 45%;
    height: 90%;
    background-color: #1C1B22;
    position: absolute;
    left: 70px;
    top: 40px;
}

#boxPic {
    background-color: #2e2d36;
    position: absolute;
    width: 55px;
    height: 55px;
}

#ScreenPic {
    width: 50%;
    height: 50%;
    top: 12px;
    left: 12px;
    position: absolute;
    filter: invert(100%);
}

#FennaMandersPic {
    position: absolute;
    color: rgb(207, 207, 207);
    width: 250px;
    left: 65px;
    top: -5px;
}

#removeBoxPic:hover {
    background-color: #2e2d36;
}

#removeBoxPic {
    position: absolute;
    width: 55px;
    height: 55px;
    right: 110px;
}

#removeScreenPic {
    width: 30%;
    height: 30%;
    right: 17px;
    top: 20px;
    filter: invert(100%);
    position: absolute;
}

#bigBoxPic:hover {
    background-color: #2e2d36;
}

#bigBoxPic {
    position: absolute;
    width: 55px;
    height: 55px;
    right: 55px;
}

#bigScreenPic {
    width: 30%;
    height: 30%;
    right: 17px;
    top: 20px;
    filter: invert(100%);
    position: absolute;
}

#closeBoxPic:hover {
    background-color: #960f16;
}

#closeBoxPic {
    position: absolute;
    width: 55px;
    height: 55px;
    right: 0px;
}

#closeScreenPic {
    width: 30%;
    height: 30%;
    right: 19px;
    top: 20px;
    filter: invert(100%);
    position: absolute;
}

#bigMePic {
    width: 97%;
    height: 90%;
    position: absolute;
    left: 11px;
    bottom: 11px;
}

#TextBoxAboutMe {
    width: 740px;
    display: block;
    margin-left: 780px;
    margin-top: 80px;
    color: #355070;
}

#aboutMeTextBig {
    font-size: 4.9em;
}

/*#endregion aboutMe*/

/*#region myProjects*/
#myProjects {
    width: 1533px;
    height: 740px;
    background-color: #355070;
    margin-top: 0px;
    position: relative;
}

/* margin top, right, bottom, left*/
#projectScreen {
    width: 45%;
    height: 85%;
    background-color: #1C1B22;
    position: absolute;
    border-radius: 10px;
    right: 100px;
    top: 50px;
    color: white;
}

#bigWhichProjectBox {
    background-color: #1C1B22;
    position: absolute;
}

p {
    font-size: 0.875em;
    margin-top: 10px;
    margin-left: 3px;
    opacity: 70%;
    background: -webkit-linear-gradient(left, white, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#viewTabs:hover {
    background-color: #2e2d36;
}

#viewTabs {
    position: absolute;
    border-radius: 7px;
    width: 40px;
    height: 40px;
    left: 3px;
    top: 3px;
}

#tabs {
    width: 50%;
    height: 50%;
    top: 10px;
    left: 10px;
    position: absolute;
    filter: invert(100%);
}

#line {
    position: absolute;
    background-color: white;
    opacity: 30%;
    left: 46px;
    height: 48px;
    width: 0.1px;
}

#p1Box:hover {
    background-color: #2e2d36;
}

#p1Box {
    position: absolute;
    border-radius: 7px;
    left: 50px;
    top: 3px;
    width: 77px;
    height: 40px;
}

#p1 {
    left: 0px;
    position: absolute;
    width: 70px;

}

#searchBar {
    position: absolute;
    background-color: #2e2d36;
    width: 100%;
    height: 5%;
    top: 46px;
}

/*#endregion myProjects*/